footer{
	background-color: #f1f1f1;
	padding: 0.625rem;
}
footer a {
	color: #2e2d2d;
	text-decoration: none;
}

footer a:hover {
	font-weight: bold;
	color: #0066cc;
}

footer ul {
	display: flex;
	justify-content: center;
}

footer ul a {
	margin: 10px;
}

footer span:first-child {
	margin-bottom: 0;
}

footer span:last-child {
	float: right;
	margin-bottom: 0;
}