.links {
	font-size: 0.875rem;
	color: #337ab7;
}
.bg_white {
	background-color: white !important;
}
h2 {
	text-align: center;
}
a {
	text-decoration: none;
}
.box1 p{
	text-indent: 2rem;
}